
h2 {
    margin: 5px;
}

p {
    margin-bottom: 2px;
}

body {
    padding: 20px;
    margin: 0;
    background-image:url(/images/weather_purple.png);
}

#mapid { 
    height: 400px; 
    width: 800px;
}

.root-div {
    padding: 10px;
    margin: 10px;
    border-style: solid; 
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

.card-column {
    margin-bottom: 20px;
}

.input-form {
    margin: 20px;
}

.main-map {
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
}

.navbar, .card-header {
    background-color: #7952b3;
    color: #fff;
}

.navbar-brand {
    font-size: 40px;
}